/* RESET */
/* Browsers give some default margin and padding which needs to be set zero otherwise everything looks confusing. */
* {
    margin: 0;
    padding: 0;

    /* box-sizing controls how the total size of an element is calculated. */
    /* To measure the height of a person, you may measure him with shoes or without shoes, similarly html elements have different ways to be measured. */
    /* Modern developers use border-box */
    box-sizing: border-box;
}

/* BODY CENTERING CONCEPT */
body {
    /* Two fonts in font family means -> “Try using Arial first. If Arial is not available, use any available sans-serif font.” */
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
}



/* ............................................Styling for Navbar.......................................................... */






/* NAVBAR */
.navbar {
    /* Turns the element into a flex container. */
    display: flex;
    /* There are various values for justify content, a very useful prop for text alignment. */
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background-color: white;
    border-bottom: 1px solid #ddd;
}

.logo {
    font-size: 20px;
}

.nav-links a {
    margin-left: 15px;
    /* Wether you want to give a line across the text, underline it or overline is controlled by text-decoration. */
    /* Possible values - none, line-throught, underline, overline  */
    text-decoration: none;
    color: black;
}




/* ............................................Styling for Main Content.......................................................... */





/* MAIN CONTAINER */
.container {
    text-align: center;
    margin-top: 100px;
}

/* TITLE */
.title {
    font-size: 40px;
    margin-bottom: 10px;
}

/* SUBTITLE */
.subtitle {
    color: gray;
    margin-bottom: 30px;
}

/* SEARCH BOX */
.search-box input {
    width: 300px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 20px;
    outline: none;
}

/* BUTTON AREA */
.buttons {
    margin-top: 20px;
}

/* BUTTON BASE STYLE */
.btn {
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin: 5px;
    border-radius: 5px;
    transition: 0.2s;
}

/* PRIMARY BUTTON */
.primary {
    background-color: black;
    color: white;
}

/* SECONDARY BUTTON */
.secondary {
    background-color: lightgray;
}

/* HOVER EFFECT */
.btn:hover {
    transform: scale(1.05);
}




/* ............................................Styling for Footer.......................................................... */




/* FOOTER */
.footer {
    text-align: center;
    margin-top: 100px;
    padding: 20px;
    background-color: white;
    border-top: 1px solid #ddd;
}